<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="footer-nav">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog </a></li>
                    <li><a href="#">Press </a></li>
                    <li><a href="#">iOS App </a></li>
                    <li><a href="#">Android App </a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="social-nav">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>

        <p>Copyright &copy by Ayman </p>
    </div>
</footer>